<!doctype html>
<html lang="en" ng-app="SpringApp" ng-controller="CustomerController">
<head>
    <title>Customer Service!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Enter name</label>
        <div class="controls">
            <input type="text" ng-model="customer.name" placeholder="Customer Name" required="required" min="3"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Enter phone</label>
        <div class="controls">
            <input type="number" ng-model="customer.phone" placeholder="Customer Phone" required="required" min="3"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Enter address</label>
        <div class="controls">
            <input type="text" ng-model="customer.address" placeholder="Customer Address" required="required" min="5"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <br>
            <button type="button" class="btn btn-primary" ng-click="saveCustomer(customer)">Save Customer</button>
            <button class="btn btn-mini btn-danger" ng-click="resetForm()">Reset</button>
        </div>
    </div>
</form>

<hr>

<div ng-show="customers.length > 0">
    <label class="control-label">Search Customer by Id or Name:</label>
    <input type="text" placeholder="Search customer" ng-model="condition"/>
    <button class="btn btn-mini btn-danger" ng-click="getCustomerList()">Get One</button>
</div>
<h3>Customer List</h3>
<div class="alert alert-info" ng-show="customers.length == 0">
    No customers found
</div>
<table class="table table-bordered table-striped" ng-show="customers.length > 0">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="customer in customers | orderBy:predicate">
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.address}}</td>
        <td>
            <button class="btn btn-mini btn-danger" ng-click="removeCustomer(customer.id)">Remove</button>
        </td>
        <td>
            <button class="btn btn-mini btn-danger" ng-click="editCustomer(customer)">Edit</button>
        </td>
    </tr>
    </tbody>
</table>

<script src="js/lib/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
</body>
</html>