<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit Page</title>
</head>
<body>
<form action="#" th:action="@{/saveCustomer}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <dl>
        <dt>Name</dt>
        <dd><input type="text" th:field="*{name}" th:value="${customer.name}"/></dd>
    </dl>
    <dl>
        <dt>Phone</dt>
        <dd><input type="number" th:field="*{phone}" th:value="${customer.phone}"/></dd>
    </dl>
    <dl>
        <dt>Address</dt>
        <dd><input type="text" th:field="*{address}" th:value="${customer.address}"/></dd>
    </dl>
    <input type="submit" value="Save User"/>
</form>

<script>

</script>
</body>
</html>