<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Customer's List</title>
</head>
<body>

<form action="#" th:action="@{/searchBy}" method="get">
    <input type="text" name="condition"/>
    <input type="submit" value="Search by Id or Name"/>
</form>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.name}">...</td>
        <td th:text="${customer.phone}">...</td>
        <td th:text="${customer.address}">...</td>
        <td><a href="#" th:href="@{/edit/} + ${customer.id}">Edit</a></td>
        <td><a href="#" th:href="@{/remove/} + ${customer.id}">Delete</a></td>
    </tr>
</table>
<a href="saveCustomer">Add one</a>
</body>
</html>